nav {
      background: green;
    }

.entete{
      background: blue ;
    }

.cont {
      background: blue;
    }
.foot {
      background: blue;
    }
.bg-dar {
      background: rgb(41, 184, 176);
    }

.height {
      height: 10px;
    }
.bg-wa {
      background: darkcyan;
    }
